.title-container {
    text-align: center;
    margin-top: 100px;
    /* Adjust as needed */
    margin-bottom: 50px;
    position: relative;
    /* For animation */
    font-family: 'Montserrat', sans-serif;
    /* Choose a suitable font */
}

.home-title {
    font-size: 60px;
    /* Adjust font size */
    font-weight: bold;
    color: #9d177c;
    /* Change color as desired */
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 2px 2px 4px rgba(182, 45, 180, 0.2);
}

.animated-text {
    animation: title-animation 0.7s ease-in-out infinite;
}

@keyframes title-animation {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    25% {
        transform: translateY(-10px);
        opacity: 1;
    }

    50% {
        transform: translateY(0);
        opacity: 1;
    }

    75% {
        transform: translateY(-5px);
        opacity: 0.5;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.image-after-title {
    width: 999px;
    height: 200px;
    margin-top: 20px;
}