.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-image {
    width: 200px;
    /* Adjust image width as needed */
    height: auto;
    margin: 0 auto;
    /* Center the image horizontally */
}

.copyright-text {
    text-align: center;
    font-size: 20px;
    color: hsl(321, 43%, 53%);
    /* Adjust the color as needed */
    margin-top: 20px;
    /* Adjust the top margin as needed */
    font-family: Arial, sans-serif;
    /* Adjust the font family as needed */
}